@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/* Mobile first */
* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

td, th {
    width: 20%;
    display: inline-block;
}

input {
    max-width: 100%;
    display: block;
}

/* Tablet/Desktop*/
@media(min-width: 681px) {
    td, th {
        width: auto;
        display: table-cell;
    }
}

@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
}